#trip-settings-section{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: white;
}

#trip-settings-cancel{
    display: block;
    width: 5.5em;
    height: 2.8em;
    margin: 5.5em 0 2.5em 2.5em;
}

#trip-settings-form{
    border: 1px solid black;
    padding: 0;
    margin: 3em auto 0 auto;
    width: 100%;
}

#trip-settings-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#trip-settings-confirm{
    display: block;
    height: 3em;
    margin: 2em 0 0 0;
}

.requirements-error{
    text-align: center;
    width: 17em;
    margin: .5em auto;
}