#edit-account-form{
    margin: 0;
    padding: 0;
}

#edit-account-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 21.15em;
    margin: 5em auto;
    padding: 0;
}

.edit-account-label{
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

.edit-account-input{
    height: 2.8em;
}