#trip-settings-section{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
}

#trip-settings-cancel{
    display: block;

    width: 5.5em;
    height: 2.5em;
    margin: 5.5em 0 2.5em 2.5em;
}

#trip-settings-form{
    border: 1px solid black;
    padding: 0;
    margin: 4.5em auto 0 auto;
    width: 100%;
}

#trip-settings-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#trip-settings-fieldset input{
    display: inline-block;
    width: 20em;
    height: 2.5em;
    margin: 1em auto;
}

#trip-settings-confirm{
    display: block;
    height: 3em;
    margin: 2em 0 0 0;
}