#confirm_trip_section{
    position: absolute;
    width: 100%;
    height: 45vh;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0);
    background-color: white;
}

#confirm_trip_info{
    padding: 0 1em;
    margin: 0;
    text-align: center;
    border: 1px solid black;
}